{% extends 'base.html' %}
{% load static %}

{% block title_name %}
Продукты
{% endblock %}
{% block style %}
    {% include '_inc/styles_list.html' %}
{% endblock %}
  {% block header %}
      {% include '_inc/_header_list.html' %}
  {% endblock %}
{% block content %}
{% if user.is_authenticated and user.is_staff %}
    <h1>Товары</h1>

    <div style="text-align: center;">
        <a class="add-btn" href="{% url 'productss_create_view' %}">Добавить новый товар</a>
    </div>

    <ul class="clothes-list">
        {% for position in productss %}
            <li class="clothes-item">
                {% if position.photo %}
                    <img src="{{ position.photo.url }}" alt="{{ position.name }}" class="category-image">
                {% else %}
                    <div class="category-image" style="background-color: #fcf8ed20; display: flex; align-items: center; justify-content: center;">
                        <span>Нет изображения</span>
                    </div>
                {% endif %}
                <div class="clothes-item-title">{{ position.name }}</div>
                <div class="actions">
                    <a href="{% url 'productss_detail_view' position.pk %}">Подробнее</a>
                    <a href="{% url 'productss_update_view' position.pk %}">Редактировать</a>
                    <a href="{% url 'productss_delete_view' position.pk %}">Удалить</a>
                </div>
            </li>
        {% empty %}
            <li style="color: #fefefe; font-size: 1.2em;">Пока нет добавленных позиций.</li>
        {% endfor %}
    </ul>
    {% block footer %}
     {% endblock %}
      {% else %}
        <h1>Это страницы админа</h1>
    {% endif %}
{% endblock %}
