{% extends 'base.html' %}
{% load static %}

{% block title_name %}
Удаление изранного
{% endblock %}
{% endblock %}
 {% block style %}
       {% include '_inc/styles_for_others.html' %}
 {% endblock %}
{% block header %}
{% endblock %}
{% block content %}
{% if user.is_authenticated and user.is_staff %}
    <div class="card">
          {% if wishlist.product.photo %}
             <img src="{{ wishlist.product.photo.url }}" alt="{{ wishlist.product.name }}" class="category-image">
         {% else %}
             <div class="category-image" style="background-color: #fcf8ed20; display: flex; align-items: center; justify-content: center;">
                 <span>Нет изображения</span>
             </div>
         {% endif %}
        <h1>Название: {{ wishlist.product.name }}</h1>
        <h2>Описание: {{ wishlist.product.disctiption }}</h2>
        <h2>Цена: {{ wishlist.product.price }} руб.</h2>
        <h2>Дата создания: {{ wishlist.product.create_date }}</h2>
        <h2>Категория: {{ wishlist.product.category }}</h2>
        <h2>Страна производства: {{ wishlist.product.country }}</h2>
        <h2>Бренд: {{ wishlist.product.brand }}</h2>
        <h1>ФИО Клиента: {{ wishlist.client.clientName }} {{ wishlist.client.clientSurname }} {{ wishlist.client.clientMiddleName }}</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Подтвердить удаление</button>
        </form>
        <a class="nav-btn" href="{% url 'wishlist_list_view' %}">Назад</a>
    </div>
    {% block footer %}
      {% endblock %}
      {% else %}
        <h1>Это страницы админа</h1>
    {% endif %}
{% endblock %}
