{% extends 'base.html' %}
{% load static %}

{% block title_name %}
О компании
{% endblock %}
{% block style %}
    {% include '_inc/styles_list.html' %}
{% endblock %}
  {% block header %}
      {% include '_inc/_header_list.html' %}
  {% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
    <h1>Избранное</h1>

    <div style="text-align: center;">
        <a class="add-btn" href="{% url 'wishlist_create_view' %}">Добавить новый товар</a>
    </div>

    <ul class="clothes-list">
        {% for position in wishlist %}
            <li class="clothes-item">
                {% if position.product.photo %}
                    <img src="{{ position.product.photo.url }}" alt="{{ position.name }}" class="category-image">
                {% else %}
                    <div class="category-image" style="background-color: #fcf8ed20; display: flex; align-items: center; justify-content: center;">
                        <span>Нет изображения</span>
                    </div>
                {% endif %}
                <div class="clothes-item-title">Товар: {{ position.product.name }}</div>
                <div class="clothes-item-title">ФИО Клиента: {{ position.client.clientName }} {{ position.client.clientSurname }} {{ position.client.clientMiddleName }}</div>
                <div class="actions">
                    <a href="{% url 'wishlist_detail_view' position.pk %}">Подробнее</a>
                    <a href="{% url 'wishlist_update_view' position.pk %}">Редактировать</a>
                    <a href="{% url 'wishlist_delete_view' position.pk %}">Удалить</a>
                </div>
            </li>
        {% empty %}
            <li style="color: #fefefe; font-size: 1.2em;">Пока нет добавленных позиций.</li>
        {% endfor %}
    </ul>
    {% block footer %}
     {% endblock %}
    {% else %}
        <h1>Это страницы админа</h1>
    {% endif %}
{% endblock %}